<a href="https://colab.research.google.com/github/lyradsouza/BreakthroughAI_Practice/blob/main/module3(Lyra).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab 3 - Visualization

The goal of today's lab is to become great at data visualization and
graphs.  This is a really fun topic as it allows us to make images that
represent our underlying data and problems.

When doing machine learning we are going to make a lot of graphs
that describe each of the systems that we build. Visualizations are
a great way understand and explain what is happening in our systems.

Last week we finished with a neat visualization of cities. This week
we will see how that works and more.

![map]()

# Review

Before we dive in let's do a little review of some of the methods we
saw in last class on data frames. The main toolkit we used last class was called `Pandas`.

![pandas]()

In [ ]:
import pandas as pd

Last time we focused on a dataset of cities and locations.

In [ ]:
df = pd.read_csv("https://srush.github.io/BT-AI/notebooks/Cities.csv")
df

    Rank                 City        Country  Population
0      0          Mexico City         Mexico     8918653
1      1        New York City  United States     8550405
2      2          Los Angeles  United States     3971883
3      3              Toronto         Canada     2826498
4      4              Chicago  United States     2720546
..   ...                  ...            ...         ...
90    90               Surrey         Canada      526004
91    91  Ciudad López Mateos         Mexico      523296
92    92            Tultitlán         Mexico      520557
93    93               Fresno  United States      520052
94    94            Carrefour          Haiti      501768

[95 rows x 4 columns]

In this class we will start to work on a new data set about the
temperatures and climate change of different cities over time.

Click here to see the full dataset as a spreadsheet [Temperatures](https://docs.google.com/spreadsheets/d/1Jwcr6IBJbOT1G4Vq7VqaZ7S1V9gRmUb5ALkJPaG5fxI/edit#gid=2108802139)

This data comes from the [Berkeley Earth Project](https://www.kaggle.com/berkeleyearth/climate-change-earth-surface-temperature-data).

Recall that we first need to load in our data. We saw the `read_csv`
function from last time.

In [ ]:
def load():
    return pd.read_csv("https://srush.github.io/BT-AI/notebooks/Temperatures.csv",
                       index_col=0,
                       parse_dates=["Date"])
df = load().copy()
df

             Date  Temperature  ...  Latitude Longitude
58171  1843-04-01          NaN  ...     16.87   -100.47
58174  1843-07-01          NaN  ...     16.87   -100.47
58177  1843-10-01          NaN  ...     16.87   -100.47
58180  1844-01-01          NaN  ...     16.87   -100.47
58183  1844-04-01          NaN  ...     16.87   -100.47
...           ...          ...  ...       ...       ...
592169 2012-07-01       18.455  ...     45.81      5.77
592172 2012-10-01       10.154  ...     45.81      5.77
592175 2013-01-01        0.516  ...     45.81      5.77
592178 2013-04-01        8.755  ...     45.81      5.77
592181 2013-07-01       20.531  ...     45.81      5.77

[273594 rows x 7 columns]

(We need to add a bit of extra options in
order to load this data in. In particular we want to have a date
column.  One way you can look this up is through the function
[documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html).
Although remember! Often the best thing to do is to find the
[answer](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)
on stack overflow.)

Let's now review the different tools that we have available for us.

👩‍🎓 *Student Question: Do you remember how to see the columns of a data table?*

In [ ]:
#📝📝📝📝
df.columns

Index(['Date', 'Temperature', 'TemperatureUncertainty', 'City', 'Country',
       'Latitude', 'Longitude'],
      dtype='object')

We can also filter the table to find only the rows with certain filtered values.

In [ ]:
filter = df["City"] == "New York"
nyc_df = df.loc[filter]
nyc_df

              Date  Temperature  ...  Latitude Longitude
5203975 1744-01-01          NaN  ...     40.99    -74.56
5203978 1744-04-01        9.788  ...     40.99    -74.56
5203981 1744-07-01       22.207  ...     40.99    -74.56
5203984 1744-10-01        8.968  ...     40.99    -74.56
5203987 1745-01-01       -2.363  ...     40.99    -74.56
...            ...          ...  ...       ...       ...
5207197 2012-07-01       24.479  ...     40.99    -74.56
5207200 2012-10-01       12.436  ...     40.99    -74.56
5207203 2013-01-01       -0.968  ...     40.99    -74.56
5207206 2013-04-01        9.723  ...     40.99    -74.56
5207209 2013-07-01       24.722  ...     40.99    -74.56

[1079 rows x 7 columns]

Note that some of the columns in the dataset are `NaN`. This is a special symbol in Pandas
that is used to indicate that there are is not data for that cell. In this case it corresponds
to some months with no measurement.

We have seen how we can use multiple filters and combine them with
elements like or `|` and `&`.

In [ ]:
filter = (df["City"] == "New York") | (df["City"] == "Philadelphia")
nyc_phila_df = df.loc[filter]
nyc_phila_df

              Date  Temperature  ...  Latitude Longitude
5203975 1744-01-01          NaN  ...     40.99    -74.56
5203978 1744-04-01        9.788  ...     40.99    -74.56
5203981 1744-07-01       22.207  ...     40.99    -74.56
5203984 1744-10-01        8.968  ...     40.99    -74.56
5203987 1745-01-01       -2.363  ...     40.99    -74.56
...            ...          ...  ...       ...       ...
5849433 2012-07-01       26.118  ...     39.38    -74.91
5849436 2012-10-01       14.584  ...     39.38    -74.91
5849439 2013-01-01        2.252  ...     39.38    -74.91
5849442 2013-04-01       11.459  ...     39.38    -74.91
5849445 2013-07-01       25.683  ...     39.38    -74.91

[2158 rows x 7 columns]

Once there is a dataframe that is filtered in a specific manner
we can use it to compute properties on the remaining data.

In [ ]:
average_temp = nyc_df["Temperature"].mean()
average_temp

9.514878846153842

Finally we can add new columns by setting them in the original dataframe.

In [ ]:
def in_nyc(city):
    "Returns True if the city is New York"
    if city == "New York":
        return True
    return False
df["InNYC"] = df["City"].map(in_nyc)
df

             Date  Temperature  ...  Longitude  InNYC
58171  1843-04-01          NaN  ...    -100.47  False
58174  1843-07-01          NaN  ...    -100.47  False
58177  1843-10-01          NaN  ...    -100.47  False
58180  1844-01-01          NaN  ...    -100.47  False
58183  1844-04-01          NaN  ...    -100.47  False
...           ...          ...  ...        ...    ...
592169 2012-07-01       18.455  ...       5.77  False
592172 2012-10-01       10.154  ...       5.77  False
592175 2013-01-01        0.516  ...       5.77  False
592178 2013-04-01        8.755  ...       5.77  False
592181 2013-07-01       20.531  ...       5.77  False

[273594 rows x 8 columns]

## Review Exercise

Exercise 1: In this data set the column "Temperature" is the average temperature for the month.
Can you compute the highest monthly temperature for Philadelphia in this dataset?
What month and year did it occur?

In [ ]:
#📝📝📝📝
filter = (df["City"] == "Philadelphia")
phil_df = df.loc[filter]
max_temp = phil_df["Temperature"].max()
new_filter = phil_df["Temperature"] == max_temp
phil_df.loc[new_filter]

              Date  Temperature  ...  Longitude  InNYC
5846421 1761-07-01       30.447  ...     -74.91  False

[1 rows x 8 columns]

Exercise 2: Last week we saw how to add an extra column into a dataset. 
The temperature column in this dataset is in Celsius. Can you add a new column for
Farenheit temperature? (The formula is $F = (C× 9/5) + 32$)

In [ ]:
def to_f(celsius):
    "Returns temp in Farenheit"
    return (celsius * (9/5)) + 32
df["Farenheit"] = df["Temperature"].map(to_f)
df

             Date  Temperature  ...  InNYC Farenheit
58171  1843-04-01          NaN  ...  False       NaN
58174  1843-07-01          NaN  ...  False       NaN
58177  1843-10-01          NaN  ...  False       NaN
58180  1844-01-01          NaN  ...  False       NaN
58183  1844-04-01          NaN  ...  False       NaN
...           ...          ...  ...    ...       ...
592169 2012-07-01       18.455  ...  False   65.2190
592172 2012-10-01       10.154  ...  False   50.2772
592175 2013-01-01        0.516  ...  False   32.9288
592178 2013-04-01        8.755  ...  False   47.7590
592181 2013-07-01       20.531  ...  False   68.9558

[273594 rows x 9 columns]

# Unit A

The goal of today's lab will be to learn how to visualize our data
using charts and graphs. Data and spreadsheets by themselves are
pretty boring, but graphs and charts allows us to tell the story
about what is happening behind the scenes.

For example let's consider these graph from the New York Times about
the impacts of climate change in the 20th century.

Graph of [Where are America's Winters Warming the Most?](https://www.nytimes.com/interactive/2018/03/16/climate/us-winter-warming.html)

![Climate](https://static01.nyt.com/images/2019/01/15/learning/WinterTemperatures2LN/WinterTemperatures2LN-superJumbo.png?quality=90&auto=webp)

Graph of [Artic Sea Ice](https://www.nytimes.com/interactive/2017/09/22/climate/arctic-sea-ice-shrinking-trend-watch.html)

![](https://static01.nyt.com/images/2019/02/13/learning/SeaIceLN/SeaIceLN-jumbo.png?quality=90&auto=webp)

👩‍🎓 *Student Question: How do these graphs differ?  What do they "encode" on their axes? What do they encode in their colors?*

The two graphs differ in what their colors represent, the style of mark used to denote the data, etc. First one has years and degree difference on its axes and the second has years and area in millions of square miles. Color visualizes the colder/warmer difference for the first graph and time/years for the second.

## Example Data

Before we return to our temperature data let us consider graphing
some data.

For this unit we will assume that we are coaching a track
team. There are four members of the team.

In [ ]:
athletes = ["Soledad", "Jamie", "Meira", "Jung-Sook"]

These names are random. Just for fun lets give them each a random photo too.

In [ ]:
images = {"Soledad": "https://srush.github.io/BT-AI/image1.jpeg",
          "Jamie": "https://srush.github.io/BT-AI/image2.jpeg",
          "Meira": "https://srush.github.io/BT-AI/image3.jpeg",
          "Jung-Sook": "https://srush.github.io/BT-AI/image4.jpeg"}

![A](https://srush.github.io/BT-AI/image1.jpeg)

![B](https://srush.github.io/BT-AI/image2.jpeg)

![C](https://srush.github.io/BT-AI/image3.jpeg)

![D](https://srush.github.io/BT-AI/image4.jpeg)

These images were generated by AI! If you want to generate a new person you can do it here.

https://thispersondoesnotexist.com/

There have been five track meets so far this season and each athelete has run in each of them.

In [ ]:
meets = [1, 2, 3, 4, 5]

Here are their running times. Note that we are representing them as a
list of dictionaries with the athlete meet and time.

In [ ]:
times = [{'athlete': 'Soledad', 'meet': 1, 'time': 10.274234127603819}, {'athlete': 'Soledad', 'meet': 2, 'time': 10.804654030945134}, {'athlete': 'Soledad', 'meet': 3, 'time': 10.720626632654193}, {'athlete': 'Soledad', 'meet': 4, 'time': 9.804132329178772}, {'athlete': 'Soledad', 'meet': 5, 'time': 10.404912209134388}, {'athlete': 'Jamie', 'meet': 1, 'time': 11.655619806058349}, {'athlete': 'Jamie', 'meet': 2, 'time': 11.572477407100791}, {'athlete': 'Jamie', 'meet': 3, 'time': 10.927372423232223}, {'athlete': 'Jamie', 'meet': 4, 'time': 10.78549207395879}, {'athlete': 'Jamie', 'meet': 5, 'time': 11.345569807912721}, {'athlete': 'Meira', 'meet': 1, 'time': 9.108715402467988}, {'athlete': 'Meira', 'meet': 2, 'time': 9.689643262622113}, {'athlete': 'Meira', 'meet': 3, 'time': 9.139530785504235}, {'athlete': 'Meira', 'meet': 4, 'time': 9.129667780531356}, {'athlete': 'Meira', 'meet': 5, 'time': 9.361089344017424}, {'athlete': 'Jung-Sook', 'meet': 1, 'time': 8.764472058652602}, {'athlete': 'Jung-Sook', 'meet': 2, 'time': 8.1119272852491}, {'athlete': 'Jung-Sook', 'meet': 3, 'time': 8.787020155204402}, {'athlete': 'Jung-Sook', 'meet': 4, 'time': 8.147531540987394}, {'athlete': 'Jung-Sook', 'meet': 5, 'time': 8.18982105467709}]
times

[{'athlete': 'Soledad', 'meet': 1, 'time': 10.274234127603819},
 {'athlete': 'Soledad', 'meet': 2, 'time': 10.804654030945134},
 {'athlete': 'Soledad', 'meet': 3, 'time': 10.720626632654193},
 {'athlete': 'Soledad', 'meet': 4, 'time': 9.804132329178772},
 {'athlete': 'Soledad', 'meet': 5, 'time': 10.404912209134388},
 {'athlete': 'Jamie', 'meet': 1, 'time': 11.655619806058349},
 {'athlete': 'Jamie', 'meet': 2, 'time': 11.572477407100791},
 {'athlete': 'Jamie', 'meet': 3, 'time': 10.927372423232223},
 {'athlete': 'Jamie', 'meet': 4, 'time': 10.78549207395879},
 {'athlete': 'Jamie', 'meet': 5, 'time': 11.345569807912721},
 {'athlete': 'Meira', 'meet': 1, 'time': 9.108715402467988},
 {'athlete': 'Meira', 'meet': 2, 'time': 9.689643262622113},
 {'athlete': 'Meira', 'meet': 3, 'time': 9.139530785504235},
 {'athlete': 'Meira', 'meet': 4, 'time': 9.129667780531356},
 {'athlete': 'Meira', 'meet': 5, 'time': 9.361089344017424},
 {'athlete': 'Jung-Sook', 'meet': 1, 'time': 8.764472058652602},
 {'athlete': 'Jung-Sook', 'meet': 2, 'time': 8.1119272852491},
 {'athlete': 'Jung-Sook', 'meet': 3, 'time': 8.787020155204402},
 {'athlete': 'Jung-Sook', 'meet': 4, 'time': 8.147531540987394},
 {'athlete': 'Jung-Sook', 'meet': 5, 'time': 8.18982105467709}]

This is an alternative way of creating a pandas dataframe. Sometimes it is easier than reading from a CSV file.

In [ ]:
df = pd.DataFrame(times)
df

      athlete  meet       time
0     Soledad     1  10.274234
1     Soledad     2  10.804654
2     Soledad     3  10.720627
3     Soledad     4   9.804132
4     Soledad     5  10.404912
5       Jamie     1  11.655620
6       Jamie     2  11.572477
7       Jamie     3  10.927372
8       Jamie     4  10.785492
9       Jamie     5  11.345570
10      Meira     1   9.108715
11      Meira     2   9.689643
12      Meira     3   9.139531
13      Meira     4   9.129668
14      Meira     5   9.361089
15  Jung-Sook     1   8.764472
16  Jung-Sook     2   8.111927
17  Jung-Sook     3   8.787020
18  Jung-Sook     4   8.147532
19  Jung-Sook     5   8.189821

We can add the pictures in as well.

In [ ]:
def add_image(name):
    return images[name]
df["image"] = df["athlete"].map(add_image)
df.columns

Index(['athlete', 'meet', 'time', 'image'], dtype='object')

Our goal is to create graphs to help our team improve at the next meet.

Before we begin though, let us consider the *types* of the three different columns.
This will help us decide what charts to use.

1. Athlete - This is simply the person name. All people are equal and in no order. We say this is therefore a *Nominal* column.
2. Meet - This only takes whole number values. We know that Meet 3 occurred after Meet 1, but there is no meet 2.5. This is therefore a *Ordinal* column.
3. Times - This is a decimal column. It contains very precise numerical values. This is therefore a *Quantitative* column.

Data Column Cheat Sheet:
* Nominal - N
* Ordinal - O
* Quantitative - Q
* Temporal - T

## Visualization

To build visualizations we are again going to rely heavily on
datatables and use a new library called `altair`. This library has
very nice [documentation](https://altair-viz.github.io/)

In [ ]:
import altair as alt

We can make a graph by converting our table into a `Chart`. We do this
in three steps:

* Chart - Process your a dataframe to only what you want to include
* Mark - Determine which type of chart we want
* Encode - Say which Pandas columns correspond to which dimensions

When you think about making a graph think very carefully about what question
you want to answer. Try to make one graph for each question.

### Example 1: Who ran the fastest?

For this example we will simply try to determine who ran the fastest.

* Chart - Determine the fastest run
* Mark - Show as a bar graph
* Encode - Let the x be athlete (nominal) and y be times (quantitative)

In [ ]:
faster_df = df.groupby(["athlete"], as_index=False).min()
faster_df

     athlete  meet       time                                      image
0      Jamie     1  10.785492  https://srush.github.io/BT-AI/image2.jpeg
1  Jung-Sook     1   8.111927  https://srush.github.io/BT-AI/image4.jpeg
2      Meira     1   9.108715  https://srush.github.io/BT-AI/image3.jpeg
3    Soledad     1   9.804132  https://srush.github.io/BT-AI/image1.jpeg

Once we have our data we make a graph in three steps.

In [ ]:
chart = (alt.Chart(faster_df)
           .mark_bar()
           .encode(x = "athlete:N",
                   y = "time:Q"))
chart

alt.Chart(...)

The important parts are the `mark_X` which gives the type, encode which tells the library which
columns to use, and ":N" which says it is a Nominal (or other type).

### Example 2: How did Jung-Sook's times change in the season?

* Chart - Filter to Jung-Sook's runs
* Mark - Show as a line graph
* Encode - Let the x be meet (ordinal) and y be times (quantitative)

In [ ]:
js_df = df[df["athlete"] == "Jung-Sook"]
chart = (alt.Chart(js_df)
           .mark_line()
           .encode(x = "meet:O",
                   y = "time:Q"))
chart

alt.Chart(...)

👩‍🎓 *Student Question: Can you compute this for another runner? Can
you make it a bar graph instead?*

In [ ]:
#📝📝📝📝
s_df = df[df["athlete"] == "Soledad"]
chart = (alt.Chart(s_df)
           .mark_bar()
           .encode(x = "meet:O",
                   y = "time:Q"))
chart

alt.Chart(...)

### Example 3: How did all the runners compare over the season?

* Chart - All the data
* Mark - Show as a line graph
* Encode - Let the x be meet (ordinal) and y be times (quantitative) and the color be the athlete (nominal)

In [ ]:
chart = (alt.Chart(df)
           .mark_line()
           .encode(color = "athlete:N",
                   x = "meet:O",
                   y = "time:Q"))
chart

alt.Chart(...)

Alternatively we can split this into 4 different individual graphs using facet.

In [ ]:
chart = (alt.Chart(df)
           .mark_line()
           .encode(facet = "athlete",
                   x = "meet:O",
                   y = "time:Q"))
chart

alt.Chart(...)

Finally one nice aspect of the library is that we can include
 multiple charts on the same graph.

In [ ]:
meet_df = df.loc[df["meet"] == 1]
chart1 = (alt.Chart(meet_df)
           .mark_bar()
           .encode(x = "athlete:N",
                   y = "time:Q"))
chart1

alt.Chart(...)

In [ ]:
chart2 = (alt.Chart(meet_df)
           .mark_image()
           .encode(x = "athlete:N",
                   y = "time:Q",
                   url = "image"
           ))
chart2

alt.Chart(...)

In [ ]:
chart = chart1 + chart2
chart

alt.LayerChart(...)

# Group Exercise A

## Question 0

Who are other members of your group today?

In [ ]:
#📝📝📝📝 FILLME
"Karina and Palak"

'Karina and Palak'

What was the last great book that they read?

In [ ]:
#📝📝📝📝 FILLME
"Palak: 'The Shadows Between Us', Karina: 'Dracula'"

"Palak: 'The Shadows Between Us', Karina: 'Dracula'"

What clubs are they in at school?

In [ ]:
#📝📝📝📝 FILLME
"Karina is in a CS Club and Palak is in WICC, Kids Who Code, and JT Green"

'Karina is in a CS Club and Palak is in WICC, Kids Who Code, and JT Green'

## Question 1

We would like to know the average time between all of the runners at each
meet this will give us a sense of whether the team is improving. Can you
make a group-by command to find the average time at each meet?

In [ ]:
#📝📝📝📝 FILLME
avg_df = df.groupby(["meet"], as_index = False).mean()
avg_df

   meet       time
0     1   9.950760
1     2  10.044675
2     3   9.893637
3     4   9.466706
4     5   9.825348

Can you plot your results as a line graph?

In [ ]:
#📝📝📝📝 FILLME
chart = (alt.Chart(avg_df)
           .mark_line()
           .encode(x = "meet:O",
                   y = "time:Q"))
chart

alt.Chart(...)

## Question 2

The `point` mark will draw a single point for each data input it is given.
 Can you draw a point graph that will plot each runners time for each meet over the
season?

In [ ]:
#📝📝📝📝 FILLME
chart1 = (alt.Chart(df)
           .mark_point()
           .encode(
                   x = "meet:O",
                   y = "time:Q"))
chart1

alt.Chart(...)

The `shape` encoding will use a different shape for each data point. Can you add a shape
encoding based on the athlete name?

In [ ]:
#📝📝📝📝 FILLME
chart1 = (alt.Chart(df)
           .mark_point()
           .encode(shape = "athlete:N",
                   x = "meet:O",
                   y = "time:Q"))
chart1

alt.Chart(...)

The `tooltip` encoding will make it so you can mouseover the
datapoint of interest. If you give it a list of columns it will
include all of them. Add a tooltip for the athlete and the meet.

In [ ]:
#📝📝📝📝 FILLME
chart2 = (alt.Chart(df)
           .mark_point()
           .encode(shape = "athlete:N",
                   tooltip = ["athlete", "meet"],
                   x = "meet:O",
                   y = "time:Q"))
chart2

alt.Chart(...)

Finally this graph can be combined with the average time of each meet above. Combine them into a single graph.

In [ ]:
#📝📝📝📝 FILLME
new_chart = chart + chart2
new_chart

alt.LayerChart(...)

## Question 3

Altair graphs can be customized with a lot of visualization options in additions to the ones we have seen so far.

For this exercise you will want to consult [Altair Configuation docs](https://altair-viz.github.io/user_guide/configuration.html).

* Add a title.
* Make the graph bigger
* Add better axis names.
* Change the color of the points
* Make the points larger.
* Give the legend rounded corners.
* Add any other customizations you would like!

In [ ]:
#📝📝📝📝 FILLME
chart3 = (alt.Chart(df)
           .mark_point()
           .encode(shape = "athlete:N",
                   tooltip = ["athlete", "meet"],
                   x = alt.X("meet:O", title="Meet Number"),
                   y =alt.Y("time:Q", title="Athlete's Run Time ")))
chart3 = chart3.configure(background = '#f3ecf3')
chart3 = chart3.configure_point(color = "Purple", size = 70)
chart3 = chart3.properties(title = "Run Times for Athletes by Meet", width = 500, height = 300)
chart3 = chart3.configure_legend(fillColor = '#ffffbf', padding = 12, cornerRadius = 20, strokeWidth = 3, strokeColor = "purple")
chart3

alt.Chart(...)

# Unit B

## Advanced Pandas

Now we are going to try working with a realistic large dataset for our visualization.

In [ ]:
df = load().copy()
df

             Date  Temperature  ...  Latitude Longitude
58171  1843-04-01          NaN  ...     16.87   -100.47
58174  1843-07-01          NaN  ...     16.87   -100.47
58177  1843-10-01          NaN  ...     16.87   -100.47
58180  1844-01-01          NaN  ...     16.87   -100.47
58183  1844-04-01          NaN  ...     16.87   -100.47
...           ...          ...  ...       ...       ...
592169 2012-07-01       18.455  ...     45.81      5.77
592172 2012-10-01       10.154  ...     45.81      5.77
592175 2013-01-01        0.516  ...     45.81      5.77
592178 2013-04-01        8.755  ...     45.81      5.77
592181 2013-07-01       20.531  ...     45.81      5.77

[273594 rows x 7 columns]

Our filtering so far has mainly tried to filter rows by string values,
but we can filter by many different properties. These properties
depend on the type of the column.

If you remember back to lesson 1, we saw how we could use a dates
in python.

In [ ]:
import datetime
date1 = datetime.datetime.now()
date1

datetime.datetime(2021, 7, 16, 20, 54, 36, 619431)

In [ ]:
print(date1.day, date1.month, date1.year)

16 7 2021

Let's look now at the types of our columns.

In [ ]:
df.columns

Index(['Date', 'Temperature', 'TemperatureUncertainty', 'City', 'Country',
       'Latitude', 'Longitude'],
      dtype='object')

In [ ]:
df.dtypes

Date                      datetime64[ns]
Temperature                      float64
TemperatureUncertainty           float64
City                              object
Country                           object
Latitude                         float64
Longitude                        float64
dtype: object

We can see that `data` is a date. Therefore
we can access similar properties as we have seen in the table.

In [ ]:
df["Date"].dt.month

58171      4
58174      7
58177     10
58180      1
58183      4
          ..
592169     7
592172    10
592175     1
592178     4
592181     7
Name: Date, Length: 273594, dtype: int64

Let's convert these into columns

In [ ]:
df["Month"] = df["Date"].dt.month
df["Year"] = df["Date"].dt.year

Now these are columns in the table.

In [ ]:
df.columns

Index(['Date', 'Temperature', 'TemperatureUncertainty', 'City', 'Country',
       'Latitude', 'Longitude', 'Month', 'Year'],
      dtype='object')

We can use some complex filters for checking for specific months and years in our dataset.

In [ ]:
filter = (df["Month"] == 7) & (df["Year"] == 1950)
summer = df.loc[filter]
summer

             Date  Temperature  TemperatureUncertainty  ... Longitude Month  Year
59458  1950-07-01       27.149                   0.352  ...   -100.47     7  1950
106319 1950-07-01       20.409                   0.360  ...   -102.98     7  1950
169641 1950-07-01       22.148                   0.198  ...   -107.03     7  1950
355810 1950-07-01       30.039                   0.438  ...   -100.30     7  1950
489823 1950-07-01       28.817                   0.206  ...    -97.85     7  1950
...           ...          ...                     ...  ...       ...   ...   ...
578469 1950-07-01       19.623                   0.328  ...      7.35     7  1950
581708 1950-07-01       24.720                   0.226  ...      6.55     7  1950
584947 1950-07-01       21.599                   0.383  ...      2.24     7  1950
588186 1950-07-01       20.587                   0.138  ...      1.18     7  1950
591425 1950-07-01       20.744                   0.243  ...      5.77     7  1950

[349 rows x 9 columns]

We can also filter by ranges of dates to pull out a specific period.

In [ ]:
filter = (df["Year"] >= 1950) & (df["Year"] <= 1960)
fifties = df.loc[filter]
fifties

Putting this all together we can group New York in the 50's into one dataframe.

In [ ]:
filter = (df["City"] == "New York") & (df["Year"] >= 1950) & (df["Year"] <= 1960)
period = df.loc[filter]
period

## Visualizing Complex Data

As with the runners above this allows us to explore our data along
many different charts and questions. Here are some examples

### Example 1: How did the temperature of New York change during the 50's?

* Chart - New York city Over the last 10 years
* Mark - Line graph showing pattern.
* Encode - Date (new type- temporal) and temperature (quantitative)

In [ ]:
chart = (alt.Chart(period)
           .mark_line()
           .encode(x = "Date:T",
                   y = "Temperature:Q",
                   tooltip = "Date:T"))
chart

### Example 2: How do the monthly temperatures of New York fluctuate per year?

In [ ]:
chart1 = (alt.Chart(period)
           .mark_point()
           .encode(x = "Date:T",
                   y = "Temperature:Q",
                   tooltip = "Date:T",
                   color = "Year:T"))
chart1

This graph instead uses the year as the x-axis and color to represent the time of the year. This makes it easier to compare months to each other.

* Chart - NYC with data from over the last 10 years
* Mark - Line graph
* Encode - Year as ordinal axis, temperature as y-axis, month as color.

In [ ]:
chart = (alt.Chart(period)
            .mark_line()
            .encode(x = "Year:O",
                    y = "Temperature:Q",
                    color = "Month:N"))
chart

In [ ]:
avgs = period.groupby("Month", as_index = False).mean()

In [ ]:
chart1 = (alt.Chart(period)
            .mark_line()
            .encode(x = "Year:O",
                    y = "Temperature:Q",
                    facet = "Month:N"))
chart1

### Example 3: How does the temperature in NYC vary over a 200 year period?

In [ ]:
filter = (df["City"] == "New York") & (df["Year"] >= 1800) & (df["Year"] <= 2000)
period = df.loc[filter]
period

In [ ]:
chart = (alt.Chart(period)
            .mark_line()
            .encode(x = "Year:O",
                    y = "Temperature:Q",
                    color = "Month:N"))
chart

## Advanced: GroupBys

Last week we covered group-bys which are one of the more important
concepts in Pandas. Here are a couple more examples that you might find
useful for the group work.

GroupBys

1) Filter - Figure out the data to start with
2) GroupBy - Determine the subset of data to use
3) Aggregation - Compute a property over the group

In [ ]:
# 1) Filter
filter = ((df["Country"] == "United States") &
          (df["Year"] == 1950))

In [ ]:
# 2) Group By
grouped = df.loc[filter].groupby(["Country"],  as_index=False)

In [ ]:
# 3) Aggregated
temperature = grouped["Temperature"].mean()
temperature

    Year  Temperature
0   1950     14.00785
1   1951     14.02420
2   1952     13.85550
3   1953     14.09845
4   1954     14.03650
5   1955     14.06185
6   1956     13.37155
7   1957     12.97300
8   1958     13.85700
9   1959     13.74960
10  1960     13.85750
11  1961     13.15130
12  1962     13.38790
13  1963     13.56815
14  1964     13.63680
15  1965     13.15180
16  1966     13.08075
17  1967     13.70655
18  1968     13.50300
19  1969     13.56390
20  1970     13.07315
21  1971     13.49765
22  1972     13.17770
23  1973     13.56265
24  1974     13.45015
25  1975     13.43250
26  1976     12.66190
27  1977     13.16710
28  1978     13.11960
29  1979     12.95265
30  1980     13.72940
31  1981     13.52965
32  1982     13.11540
33  1983     13.63460
34  1984     13.49060
35  1985     13.60515
36  1986     14.12705
37  1987     13.74245
38  1988     13.31845
39  1989     14.20330
40  1990     14.55035
41  1991     14.07255
42  1992     13.43545
43  1993     13.76930
44  1994     13.65760
45  1995     14.10045
46  1996     13.70415
47  1997     13.54380
48  1998     14.52200
49  1999     14.18560
50  2000     13.80740

In [ ]:
# 2) Group By
grouped = df[filter].groupby(["City"], as_index=False)

In [ ]:
# 3) Aggregated
temperature = grouped["Temperature"].mean()
temperature

    Year  Temperature
0   1950     14.00785
1   1951     14.02420
2   1952     13.85550
3   1953     14.09845
4   1954     14.03650
5   1955     14.06185
6   1956     13.37155
7   1957     12.97300
8   1958     13.85700
9   1959     13.74960
10  1960     13.85750
11  1961     13.15130
12  1962     13.38790
13  1963     13.56815
14  1964     13.63680
15  1965     13.15180
16  1966     13.08075
17  1967     13.70655
18  1968     13.50300
19  1969     13.56390
20  1970     13.07315
21  1971     13.49765
22  1972     13.17770
23  1973     13.56265
24  1974     13.45015
25  1975     13.43250
26  1976     12.66190
27  1977     13.16710
28  1978     13.11960
29  1979     12.95265
30  1980     13.72940
31  1981     13.52965
32  1982     13.11540
33  1983     13.63460
34  1984     13.49060
35  1985     13.60515
36  1986     14.12705
37  1987     13.74245
38  1988     13.31845
39  1989     14.20330
40  1990     14.55035
41  1991     14.07255
42  1992     13.43545
43  1993     13.76930
44  1994     13.65760
45  1995     14.10045
46  1996     13.70415
47  1997     13.54380
48  1998     14.52200
49  1999     14.18560
50  2000     13.80740

We can also check how much the temperature changes during the year.
This is known as standard deviation.

In [ ]:
temperature = grouped["Temperature"].std()
temperature

In [ ]:
# 2) Group By
grouped = df[filter].groupby(["Year", "Country"], as_index=False)

In [ ]:
# 3) Aggregated
temperature = grouped["Temperature"].mean()
temperature

## Group Exercise B

### Question 1

Make a single graph that shows a comparison of the cities Detroit, Los Angeles, New York, and Miami
in temperature from 1950 to 2000. What patterns do you notice?

In [ ]:
#📝📝📝📝 FILLME
filter = ((df["City"] == "Detroit") | (df["City"] == "New York") | (df["City"] == "Los Angeles") | (df["City"] == "Austin")) & ((df["Year"] >= 1950) & (df["Year"] <= 2000))
grouped = df.loc[filter].groupby(["City", "Year"], as_index = False)
period = grouped["Temperature"].mean()

chart = (alt.Chart(period)
            .mark_line()
            .encode(x = "Year:O",
                    y = "Temperature:Q",
                    color = "City:N"))
chart

alt.Chart(...)

Patterns: Austin seems to be the warmest overall followed by Los Angeles, while Detroit is th coldest with New York coming in a close second. Some fluctuation is visible through the spikes of the graph, although Los Angeles appears to have less severe temperature changes as evidenced by the nearly horizontal line. There are a few years where it appears New York is basically as cold as Detroit in winter, but Austin remains the hottest city throughout each datapoint of the graph very visibly.

### Question 2

Make a bar graph that compares the temperature of all US cities based on their average (mean) temperature in the year 2000.

In [ ]:
#📝📝📝📝 FILLME
filter = ((df["Country"] == "United States") &
          (df["Year"] == 2000))
grouped = df.loc[filter].groupby(["City"],  as_index=False)
temperature = grouped["Temperature"].mean()

chart1 = (alt.Chart(temperature)
            .mark_bar()
            .encode(x = "City:N",
                    y = "Temperature:Q"))
chart1

alt.Chart(...)

Make a point graph that compares the temperature of all US cities based on their average (mean) temperature in the year 2000 with their latitude (north/south) position.

In [ ]:
#📝📝📝📝 FILLME
lats = grouped["Latitude"].mean()
temperature["Latitude"] = lats["Latitude"]

chart2 = (alt.Chart(temperature)
            .mark_point()
            .encode(x = "Temperature:Q",
                    y = "Latitude:Q",
                    color = "City:N"))
chart2

alt.Chart(...)

Make the same graph, but now with Longitude (east / west) position. How does it compare?

In [ ]:
#📝📝📝📝 FILLME
longs = grouped["Longitude"].mean()
temperature["Longitude"] = longs["Longitude"]

chart3 = (alt.Chart(temperature)
            .mark_point()
            .encode(x = "Temperature:Q",
                    y = "Longitude:Q",
                    color = "City:N"))
chart3

alt.Chart(...)

Comparison: While there appears to be a linear correlation between a city's latutude and it's average temperature – with higher latitudes having a lower average temperature and lower latutudes having a higher average temperature – there does not appear to be any correlation between longitude and temperature.

### Question 3

Standard deviation (.std()) tells us how much the temperature changes over the course of the year.
Plot the stardard deviation of the temperature of New York over the 20th century (1900-2000).
Which year had the largest change over the year?

In [ ]:
#📝📝📝📝 FILLME
filter = ((df["City"] == "New York") & ((df["Year"] >= 1900) & (df["Year"] <= 2000)))
period = df.loc[filter].groupby(["Year"], as_index = False)
temps = period["Temperature"].std()

chart4 = (alt.Chart(temps)
            .mark_line()
            .encode(x = "Year:O",
                    y = "Temperature:Q"))
chart4

alt.Chart(...)

Standard deviation: It appears that the year 1995 had the greatest change over the course of the year, since it has the highest standard deviation and therefore deviated from the mean the most.